:root {
    --color-primary: #61dbfb;
    --color-bg: rgb(44, 47, 54);
    --color-darker: rgb(33, 36, 41);

    --color-text-primary: rgb(255, 255, 255);
    --color-text-secondary: rgb(216, 216, 216);

    --color-button-text: rgb(109, 168, 255);
    --color-button-primary: rgb(36, 83, 139);
    --color-button-secondary: rgba(36, 82, 139, 0.9);

    --color-isDanger: red;
    --color-isWarning: yellow;
    --color-isOk: green;
}
