@import './__colors.css';

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-position: 0px -30vh;
    background-repeat: no-repeat;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(33, 114, 229, 0.1) 0%, rgba(33, 36, 41, 0) 100%);
    background-color: var(--color-bg);
}

.App {
    text-align: center;
    min-height: 100vh;
}

.App-logo {
    height: 80px;
    pointer-events: none;
}

.App-header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-darker);
    font-size: 1.5em;
    color: var(--color-primary);
}
